<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.server.mapper.SuperAdminMapper">
    <insert id="insertNewUser">
        INSERT INTO user(username, password, phone, `account-type`, `latest-login-time`, `latest-login-ip`,
                         `avatar-url`)
        VALUES (#{username}, #{password}, #{phone}, #{accountType}, #{latestLoginTime}, #{latestLoginIp}, #{avatarUrl})
    </insert>
    <update id="updateUserAuthorization">
        <foreach collection="usernames" item="username" index="index">
            UPDATE user SET `account-type` = #{type}
            WHERE user.username= #{username}
        </foreach>
    </update>
    <update id="updateServerMsg">
        <if test="#{serverType}= 'POP3'">
            UPDATE `server-msg` SET `server-msg`.
        </if>
    </update>
    <update id="updateServerPort">
        <if test="serverType==0">
            UPDATE `server-msg` SET `server-msg`.`smpt-port` = #{serverPort} WHERE sid = #{sid}
        </if>
        <if test="serverType==1">
            UPDATE `server-msg` SET `server-msg`.`pop3-port` = #{serverPort} WHERE sid = #{sid}
        </if>
    </update>
    <update id="updateServerState">
        <if test="serverType==0">
            UPDATE `server-msg` SET `server-msg`.`smpt-state` = #{serverState} WHERE sid = #{sid}
        </if>
        <if test="serverType==1">
            UPDATE `server-msg` SET `server-msg`.`pop3-state` = #{serverState} WHERE sid = #{sid}
        </if>
    </update>
    <select id="selectServerMessage" resultType="com.example.server.entity.ServerMessage">
        SELECT * FROM `server-msg`
    </select>
</mapper>