<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.server.mapper.UserMapper">

    <select id="selectContact" resultType="com.example.server.entity.User">
        SELECT *
        FROM user
        WHERE username IN (
            SELECT receiver_email
            FROM email
            WHERE sender_email = #{username}
              AND receiver_email
                != #{username}
        )
    </select>
</mapper>